<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>JoinPage</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/loginpages/join.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
    <th:block th:replace="/fragments/header"></th:block>
    <div id="body">
        <div class="content">
            <nav>

            </nav>
            <section class="Join-Container">
                <div class="Join-viewBox">
                    <div>
                        <header class="Join-header">
                            <h1>회원정보 입력</h1>
                        </header>
                        <div class="InputText">
                            <p>다방 서비스 이용을 위해 아래 정보를 입력해주세요</p>
                        </div>
                        <div class="FormContainer">
                            <div class="FormContainer-id">
                                <header class="FormContainer-Title">
                                    <h1 class="FormContainer-Title-id">아이디</h1>
                                </header>
                                <div class="Form-ID-Content">
                                    <div>
                                        <div class="Input-Box-Email">
                                            <input autocomplete="off" type="text" name="email" id="email" placeholder="이메일 주소 입력"
                                                class="Input-Email" value>
                                                
                                        </div>
                                        <div class="ErrorP">
                                        	<p class="Perror" style="display: none;">이메일 형식을 확인해주세요.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Password-Content" style="margin-top: 24px;">
                                <header class="Password-Header">
                                    <h1 class="Password-Text">비밀번호</h1>
                                </header>
                                <div class="Password-check">
                                    <div>
                                        <div class="Password-check-1">
                                            <input autocomplete="off" type="password" name="password" id="password"
                                                placeholder="8자리 이상 영문,숫자,특수문자 포함" class="Password-Input"  value>
                                       	<div class="ErrorP">
                                       		<p class="Perror2" style="display: none;" >비밀번호는 문자,숫자,특수문자를 포함하여 8~20자 이내로 입력하세요.</p>
                                       	</div>
                                            <button type="button" class="Password-RightIcon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="seeBtn"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <mask id="icon">
                                                            <rect width="100%" height="100%" fill="#ffffff"></rect>
                                                            <rect x="4.8999" y="4.8999" width="1" height="20" rx="0.5"
                                                                transform="rotate(-45 4.8999 4.8999)" fill="#000000">
                                                            </rect>
                                                        </mask>
                                                    </defs>
                                                    <path
                                                        d="M2.47461 11.9925C4.07746 8.46725 7.7399 6.00342 12.0016 6.00342C16.2633 6.00342 19.9257 8.46725 21.5286 11.9925C19.9257 15.5178 16.2633 17.9816 12.0016 17.9816C7.7399 17.9816 4.07746 15.5178 2.47461 11.9925ZM12.0023 15.3185C13.9151 15.3185 15.4658 13.8294 15.4658 11.9925C15.4658 10.1556 13.9151 8.66644 12.0023 8.66644C10.0894 8.66644 8.53876 10.1556 8.53876 11.9925C8.53876 13.8294 10.0894 15.3185 12.0023 15.3185ZM12.0019 14.21C13.2771 14.21 14.3109 13.2173 14.3109 11.9927C14.3109 10.7681 13.2771 9.77532 12.0019 9.77532C10.7266 9.77532 9.69284 10.7681 9.69284 11.9927C9.69284 13.2173 10.7266 14.21 12.0019 14.21Z"
                                                        mask="url(#ZvEK00JheZodo07cM0UdH)" fill="#979797"></path>
                                                    <rect x="4.2002" y="5.6001" width="1" height="20" rx="0.5"
                                                        transform="rotate(-45 4.2002 5.6001)" fill="#979797"></rect>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Password-Content" style="margin-top: 8px;">
                                <div>
                                    <div class="Password-check-1">
                                        <input autocomplete="off" type="password"  name="password" placeholder="비밀번호 확인" id="passwordCheck"
                                            class="Password-Input"  value>
                                    <div class="ErrorP">
                                    	<p class="Perror3" style="display: none;">입력한 비밀번호가 서로 일치하지 않습니다.</p>
                                    </div>
                                        <button type="button" class="Password-RightIcon">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="seeBtn2" 
                                                xmlns="http://www.w3.org/2000/svg">
                                                <defs>
                                                    <mask id="icon">
                                                        <rect width="100%" height="100%" fill="#ffffff"></rect>
                                                        <rect x="4.8999" y="4.8999" width="1" height="20" rx="0.5"
                                                            transform="rotate(-45 4.8999 4.8999)" fill="#000000">
                                                        </rect>
                                                    </mask>
                                                </defs>
                                                <path
                                                    d="M2.47461 11.9925C4.07746 8.46725 7.7399 6.00342 12.0016 6.00342C16.2633 6.00342 19.9257 8.46725 21.5286 11.9925C19.9257 15.5178 16.2633 17.9816 12.0016 17.9816C7.7399 17.9816 4.07746 15.5178 2.47461 11.9925ZM12.0023 15.3185C13.9151 15.3185 15.4658 13.8294 15.4658 11.9925C15.4658 10.1556 13.9151 8.66644 12.0023 8.66644C10.0894 8.66644 8.53876 10.1556 8.53876 11.9925C8.53876 13.8294 10.0894 15.3185 12.0023 15.3185ZM12.0019 14.21C13.2771 14.21 14.3109 13.2173 14.3109 11.9927C14.3109 10.7681 13.2771 9.77532 12.0019 9.77532C10.7266 9.77532 9.69284 10.7681 9.69284 11.9927C9.69284 13.2173 10.7266 14.21 12.0019 14.21Z"
                                                    mask="url(#ZvEK00JheZodo07cM0UdH)" fill="#979797"></path>
                                                <rect x="4.2002" y="5.6001" width="1" height="20" rx="0.5"
                                                    transform="rotate(-45 4.2002 5.6001)" fill="#979797"></rect>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Join-Btn">
                        <button type="button" class="SolidButton">
                            <span class="SolidButton-Text">회원가입 완료</span>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer class="Login-Footer">
        <div>
            <div class="Footer-Top">
                <nav class="Footer-nav">
                    <ul class="Footer-List">
                        <li>
                            <a href="https://www.station3.co.kr" target="_blank" rel="noopener noreferrer" class="li1">회사소개</a>
                        </li>
                        <li>
                            <a href="https://main.d3qjzrynlab66o.amplifyapp.com/terms/common/terms-of-service"
                                target="_blank" rel="noopener noreferrer" class="li1">이용약관</a>
                        </li>
                        <li>
                            <a href="https://main.d3qjzrynlab66o.amplifyapp.com/terms/dabang/collecting-use-personal"
                                target="_blank" rel="noopener noreferrer" class="li2">개인정보처리방침</a>
                        </li>
                        <li>
                            <a href="https://main.d3qjzrynlab66o.amplifyapp.com/terms/common/rule-of-room-management"
                                target="_blank" rel="noopener noreferrer" class="li1">매물관리규정</a>
                        </li>
                    </ul>
                </nav>
                <form class="Footer-SearchForm">
                    <div>
                        <select class="Footer-Search-Select">
                            <option value="0">일반 매물번호</option>
                            <option value="1">현장촬영 매울번호</option>
                        </select>
                        <input type="text" class="Footer-search-input" value>
                    </div>
                    <button type="submit" class="SearchBtn">
                        <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.5 14C11.0899 14 14 11.0899 14 7.5C14 3.91015 11.0899 1 7.5 1C3.91015 1 1 3.91015 1 7.5C1 11.0899 3.91015 14 7.5 14Z"
                                stroke="white"></path>
                            <path d="M12 12L17 17" stroke="white"></path>
                        </svg>
                    </button>
                </form>
                <button class="GoTop">
                    <svg width="11" height="7" viewBox="0 0 11 7" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 0L0 7H11L5.5 0Z" fill="#D2D6DA"></path>
                    </svg>
                    <p>TOP</p>
                </button>
            </div>
            <div class="Content-footer">
                <div class="info-footer">
                    <ul class="info-footer-text">
                        <li>(주)스테이션3</li>
                        <li>대표 : 유형석</li>
                        <li>사업자 번호: 220-88-59156 통신판매업신고번호 : 제2013-서울 강남-02884호</li>
                        <li>주소 : 서울시 서초구 서초대로 301 동익 성봉빌딩 10층 (주)스테이션3</li>
                        <li></li>
                        <li>고객센터 : 02-1899-6840 | 평일 10:00 ~ 18:30, 점심시간 : 12:00 ~ 13:00 (토·일요일, 공휴일 휴무)</li>
                        <li>팩스 : 02-554-9774 프로모션/사업 제휴문의 : biz@station3.co.kr</li>
                    </ul>
                    <div class="btn-footer">
                        <a href="/service/faq" class="btn-footer2">자주묻는 질문</a>
                        <a href="/service/inquiry">1:1문의</a>
                        <button class="advertise-Btn">광고문의
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7" cy="7" r="7" fill="white"></circle>
                                <path
                                    d="M4.34378 9.34375L8.93997 4.74756C9.13524 4.55229 9.45182 4.55229 9.64708 4.74756C9.84234 4.94282 9.84234 5.2594 9.64708 5.45466L5.05089 10.0509L4.34378 9.34375Z"
                                    fill="#326CF9"></path>
                                <rect x="6.32843" y="4.67139" width="3" height="1" fill="#326CF9"></rect>
                                <rect x="8.74252" y="8.08545" width="3" height="1"
                                    transform="rotate(-90 8.74252 8.08545)" fill="#326CF9"></rect>
                            </svg>
                        </button>
                    </div>
                    <p class="footer-text">Station3, Inc. All rights reserved.</p>
                </div>
                <div class="footer-right-btn">
                    <div class="footer-right-btns">
                    		<a href="https://www.instagram.com/dabang_app"
                            target="_blank" rel="noopener noreferrer" class="instar">
                            </a>
                            <a href="https://www.facebook.com/dabangapp" target="_blank" rel="noopener noreferrer"
                            class="facebook">
                            </a>
                            <a href="https://blog.naver.com/station3inc"
                            target="_blank" rel="noopener noreferrer" class="naver-blog">
                            </a>
                            <a
                            href="https://post.naver.com/station3inc" target="_blank" rel="noopener noreferrer"
                            class="naver">
                            </a>
                            <a href="https://www.youtube.com/user/DabangApp" target="_blank" rel="noopener noreferrer"
                            class="youtube">
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/join.js"></script>
</body>

</html>