<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/loginpages/loginStart.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    <th:block th:replace="/fragments/header"></th:block>
    <div id="login-body">
        <section class="LoginContainer">
            <div class="ViewBox">
                <div class="loginLogo">
                    <video width="244" height="192" poster="/static/images/loginLOGO.png" autoplay loop>
                        <source src="/static/images/main.aa62fa74.webm" type="video/webm">
                </div>
                <div class="login-Title">
                    <h1>로그인하시고 <br> 다방과 함께 방 찾기 여행을 떠나보세요!</h1>
                </div>
                <div class="Logins">
                    <button class="Kakao-Login" onclick="location.href='/oauth2/authorization/kakao';">카카오 3초 만에
                        바로시작</button>
                    <button class="Email-Login">이메일로 로그인하기</button>
                </div>
                <div class="OR">
                    <p>또는</p>
                </div>
                <div class="FacebookImg">
                    <button class="FacebookBtn" onclick="location.href='/oauth2/authorization/facebook';"></button>

                </div>
                <div class="LoginJoin">
                    <p>아직 회원이 아니신가요?</p>
                    <button>가입하기</button>
                </div>
            </div>
        </section>
    </div>
    <footer class="Login-Footer">
        <div>
            <div class="Footer-Top">
                <nav class="Footer-nav">
                    <ul class="Footer-List">
                        <li>
                            <a href="https://www.station3.co.kr" target="_blank" rel="noopener noreferrer"
                                class="li1">회사소개</a>
                        </li>
                        <li>
                            <a href="https://main.d3qjzrynlab66o.amplifyapp.com/terms/common/terms-of-service"
                                target="_blank" rel="noopener noreferrer" class="li1">이용약관</a>
                        </li>
                        <li>
                            <a href="https://main.d3qjzrynlab66o.amplifyapp.com/terms/dabang/collecting-use-personal"
                                target="_blank" rel="noopener noreferrer" class="li2">개인정보처리방침</a>
                        </li>
                        <li>
                            <a href="https://main.d3qjzrynlab66o.amplifyapp.com/terms/common/rule-of-room-management"
                                target="_blank" rel="noopener noreferrer" class="li1">매물관리규정</a>
                        </li>
                    </ul>
                </nav>
                <form class="Footer-SearchForm">
                    <div>
                        <select class="Footer-Search-Select">
                            <option value="0">일반 매물번호</option>
                            <option value="1">현장촬영 매울번호</option>
                        </select>
                        <input type="text" class="Footer-search-input" value>
                    </div>
                    <button type="submit" class="SearchBtn">
                        <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.5 14C11.0899 14 14 11.0899 14 7.5C14 3.91015 11.0899 1 7.5 1C3.91015 1 1 3.91015 1 7.5C1 11.0899 3.91015 14 7.5 14Z"
                                stroke="white"></path>
                            <path d="M12 12L17 17" stroke="white"></path>
                        </svg>
                    </button>
                </form>
                <button class="GoTop">
                    <svg width="11" height="7" viewBox="0 0 11 7" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 0L0 7H11L5.5 0Z" fill="#D2D6DA"></path>
                    </svg>
                    <p>TOP</p>
                </button>
            </div>
            <div class="Content-footer">
                <div class="info-footer">
                    <ul class="info-footer-text">
                        <li>(주)스테이션3</li>
                        <li>대표 : 유형석</li>
                        <li>사업자 번호: 220-88-59156 통신판매업신고번호 : 제2013-서울 강남-02884호</li>
                        <li>주소 : 서울시 서초구 서초대로 301 동익 성봉빌딩 10층 (주)스테이션3</li>
                        <li></li>
                        <li>고객센터 : 02-1899-6840 | 평일 10:00 ~ 18:30, 점심시간 : 12:00 ~ 13:00 (토·일요일, 공휴일 휴무)</li>
                        <li>팩스 : 02-554-9774 프로모션/사업 제휴문의 : biz@station3.co.kr</li>
                    </ul>
                    <div class="btn-footer">
                        <a href="/service/faq" class="btn-footer2">자주묻는 질문</a>
                        <a href="/service/inquiry">1:1문의</a>
                        <button class="advertise-Btn">광고문의
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7" cy="7" r="7" fill="white"></circle>
                                <path
                                    d="M4.34378 9.34375L8.93997 4.74756C9.13524 4.55229 9.45182 4.55229 9.64708 4.74756C9.84234 4.94282 9.84234 5.2594 9.64708 5.45466L5.05089 10.0509L4.34378 9.34375Z"
                                    fill="#326CF9"></path>
                                <rect x="6.32843" y="4.67139" width="3" height="1" fill="#326CF9"></rect>
                                <rect x="8.74252" y="8.08545" width="3" height="1"
                                    transform="rotate(-90 8.74252 8.08545)" fill="#326CF9"></rect>
                            </svg>
                        </button>
                    </div>
                    <p class="footer-text">Station3, Inc. All rights reserved.</p>
                </div>
                <div class="footer-right-btn">
                    <div class="footer-right-btns">
                        <a href="https://www.instagram.com/dabang_app" target="_blank" rel="noopener noreferrer"
                            class="instar">
                        </a>
                        <a href="https://www.facebook.com/dabangapp" target="_blank" rel="noopener noreferrer"
                            class="facebook">
                        </a>
                        <a href="https://blog.naver.com/station3inc" target="_blank" rel="noopener noreferrer"
                            class="naver-blog">
                        </a>
                        <a href="https://post.naver.com/station3inc" target="_blank" rel="noopener noreferrer"
                            class="naver">
                        </a>
                        <a href="https://www.youtube.com/user/DabangApp" target="_blank" rel="noopener noreferrer"
                            class="youtube">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/loginStart.js"></script>
</body>

</html>