<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
    <header class="header-frag">
        <div class="header-box-line">
            <div class="home-logo-link">
                <a href="/index"><img class="site-logo" src="/static/images/header_logo.PNG"></a>
            </div>
            <div class="right-header-line">
                <a href="/search/map" class="menu-item text-color">지도</a>
                <a href="/sales" class="menu-item">분양</a>
                <a href="/room/interest" class="menu-item">관심목록</a>
                <a href="/manage" class="menu-item">방내놓기</a>
                <a href="/alarm" class="menu-item">알림</a>
                <a href="" class="menu-item contract">다방싸인 비대면 계약</a>
                <div class="auth-items">

                </div>
            </div>
        </div>
    </header>
    <script src="/static/js/header.js"></script>
</html>