.header-frag {
    display: flex;
    align-items: center;

    width: 100%;
    height: 80px;

    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgb(231, 231, 231);
}

.wrapping {
	background-color: #fff;
	margin-left: 150px;
	margin-right: 150px;
}

.header-box-line {
   flex: 0 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-width: 1200px;
    height: 80px;
    padding: 0px 20px;
    z-index: 999;
    border-bottom: 1px solid rgb(231, 231, 231);
    background-color: transparent;
}

.home-logo-link{
	flex: 0 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.site-logo{
	margin-top: 3px;
    font-size: 0px;
}

.right-header-line{
	flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.right-header-line > a {
    font-size: 15px;
    line-height: 26px;
    position: relative;
    color: rgb(34, 34, 34);
    user-select: none;
}

.right-header-line a:not(:nth-child(1)) {
    color: #222222;
}

.right-header-line a:hover {
    color: #326cf9;
}

.text-color {
    color: #326cf9;
}

.auth-items {
    margin-left: 40px;
}

.right-header-line .menu-item:nth-child(n+2) {
    margin-left: 40px;
}

.right-header-line .menu-item:last-child {
    margin-left: 8px;
}

.login-page-button, .last-button {
    width: 155px;
    height: 40px;
    
    color: #222222;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    line-height: 24px;
    
    background-color: rgba(0, 0, 0, 0);
}

.right-header-line .menu-item:nth-child(n+7):hover {
    color: #222222;
    background-color: #fcfcfc;
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}

.button-text > span {
    display: block;
    margin: 0px 14px;
    width: 1px;
    height: 14px;
    background-color: rgb(223, 223, 223);
    position: relative;
    top: 1px;
}


/* header innerHTML 프로필*/
.Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    user-select: none;
    margin-left: 40px;
    position: relative;
}

.Profile img {
    width: 32px;
    height: 32px;

    position: relative;
}


.user-option p{
	background: none;
	color: #222222;
    font-size: 14px;
    line-height: 24px;
    border: none;
    margin-left: 8px;
    cursor: pointer;
}


.user-option-box {
    position: absolute;
    top: calc(100% + 10px);
    left: calc(59% - 1px);
    transform: translateX(-50%);
    z-index: 11;
}


.user-option-box::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(205, 205, 205) transparent transparent rgb(205, 205, 205);
    background-color: rgb(255, 255, 255);
    transform: translateY(2px) rotate(45deg);

    z-index: 11;
    position: relative;
}

.user-option-box > nav {
    width: 240px;

    position: absolute;
    top: calc(100% - 5px);
    right: -40px;
    z-index: 9;

    border: 1px solid rgb(205, 205, 205);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 18px -10px;

    background-color: rgb(255, 255, 255);
}

.user-service-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    width: 100%;
    padding: 0px 16px;
    color: #4c4c4c !important;
    font-size: 14px;
    line-height: 20px;
    height: 56px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.logout-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 16px;
    color: rgb(76, 76, 76);
    font-size: 14px;
    line-height: 20px;
    height: 55px;
    border: 0px;
    background-color: transparent;
}

.logout-button > svg {
    width: 17px;
    height: 15px;
    margin-left: auto;
}