main {
<<<<<<< HEAD
    height: 100%;
=======
>>>>>>> 6a628feb265ad13ff7da7284ac78200a7df996e0
    width: 100%;
}

.main-box-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 64px;

    border-bottom: 1px solid rgb(231, 231, 231);
}

.search-box-line {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
<<<<<<< HEAD
    height: 64px;
=======
    height: 63px;
>>>>>>> 6a628feb265ad13ff7da7284ac78200a7df996e0

    margin-right: 1px;
    padding-left: 20px;
    padding-right: 20px;

    border-right: 1px solid rgb(231, 231, 231);
}

.search-box-detail {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.search-box-detail img {
    position: absolute;

    left: 0px;
}

.search-box {
    border: none;

    width: 255px;
    height: 36px;

    padding-left: 30px;
    padding-right: 20px;

    font-size: 15px;

    outline: none;
<<<<<<< HEAD
=======
    cursor: text;
>>>>>>> 6a628feb265ad13ff7da7284ac78200a7df996e0
}

.search-type {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 104px;
    height: 36px;

    color: white;
}

.search-type button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 3px;

    font-size: 13px;
    font-weight: 400;
<<<<<<< HEAD
    color: #ffffff;
=======
    
>>>>>>> 6a628feb265ad13ff7da7284ac78200a7df996e0

    width: 52px;
    height: 36px;

    border: 0px solid rgb(245, 245, 245);

    text-align: center;
    line-height: 14px;
    white-space: nowrap;
}

<<<<<<< HEAD
.search-type button:nth-child(2) {
    color: #aeaeae;
}

.button-color {
    width: 100%;
    background-color: #326cf9;
=======
.button-color {
    width: 100%;
    background-color: #326cf9;
    color: #ffffff;
>>>>>>> 6a628feb265ad13ff7da7284ac78200a7df996e0
}

.search-option-container {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    width: 0px;
    height: 100%;
    padding: 0px 12px 0px 8px;
    align-items: center;
}

.option-box {
    margin-right: 8px;
<<<<<<< HEAD
    border: 1px solid rgb(223, 223, 223);
=======
>>>>>>> 6a628feb265ad13ff7da7284ac78200a7df996e0
    border-radius: 2px;
}

.option-button {
    width: 100%;
    padding: 0px 26px 0px 10px;
    height: 34px;
    text-align: left;
<<<<<<< HEAD
    border: 0px;
    background-color: transparent;
=======
>>>>>>> 6a628feb265ad13ff7da7284ac78200a7df996e0

    background: url(/static/images/angle_down.svg) right 9px center / 10px no-repeat rgb(255, 255, 255);
}

<<<<<<< HEAD
.option-button:nth-child(1):active ~ .option-button:nth-child(1) {
    color: #326cf9;
}
.option-button:nth-child(2):active ~ .option-button:nth-child(2) {
    color: #326cf9;
}
.option-button:nth-child(3):active ~ .option-button:nth-child(3) {
    color: #326cf9;
}
.option-button:nth-child(4):active ~ .option-button:nth-child(4) {
    color: #326cf9;
}
.option-button:nth-child(5):active ~ .option-button:nth-child(5) {
    color: #326cf9;
}
.option-button:nth-child(6):active ~ .option-button:nth-child(6) {
    color: #326cf9;
}

.option-button p {
    color: rgb(34, 34, 34);
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
=======
.option-button p {
    font-size: 13px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.black-button {
    border: 1px solid rgb(223, 223, 223);
}

.blue-button {
    border: 1px solid rgb(70, 150, 255);
    background: url(/static/images/angle_up.svg) right 9px center / 10px no-repeat rgb(255, 255, 255);
}

.black-font {
    color: rgb(34, 34, 34);
    font-weight: 700;
}

.blue-font {
    color: rgb(70, 150, 255);
    font-weight: 400;
}

.option-box {
    position: relative;
}

.option-detail-container {
    border: 1px solid #222222;

    padding: 27px 30px 0px;

    position: absolute;
    top: calc(100% + 5px);

    z-index: 2;
    overflow: auto;

    background-color: #ffffff;
}

.size {
    width: 318px;
}

.left-position {
    left: 0px;
}

.option-detail-container h1 {
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 400;
}

.option-detail-container > p {
    color: rgb(134, 134, 134);
    font-size: 13px;
    font-weight: 400;

    margin-top: 4px;
    margin-bottom: 4px;
}

.option-detail-box {
    padding-top: 16px;
    padding-bottom: 16px;
}

.option-detail-label {
    display: flex;
    align-items: center;
}

.option-detail-label input {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 2px;

    width: 22px;
    height: 22px;
}

.option-detail-label p {
    padding-left: 8px;
    color: rgb(76, 76, 76);
    font-size: 14px;
}

.option-detail-label:nth-child(n+2) {
    margin-top: 12px;
}

.option-detail-box2 .option-detail-label {
    padding-top: 16px;
    padding-bottom: 16px;
    
    border-top: 1px solid rgb(231, 231, 231);
}

.option-detail-box3 {
    display: flex;
    justify-content: left;
    align-items: flex-start;

    padding-top: 16px;
    border-top: 1px solid rgb(238, 238, 238);
    height: 72px;
}

.option-detail-box3 p {
    font-size: 13px;
    margin-left: 5px;
}

.simplebar-line {
    position: relative;
}

.container-size {
    width: 410px;
    max-height: 560px;
    min-height: 0px;
    min-height: 0vh;
}

.price-main-setting {
    width: 100%;

    padding-top: 30px;
    padding-bottom: 30px;

    height: 150px;
}

.h1-box {
    width: 100%;

    margin-bottom: 23px;
}

.h1-box h1 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;

    color: rgb(101, 101, 101);
}

.buy-type {
    width: 100%;

    border-top: 1px solid rgb(238, 238, 238);
}

.price-text {
    margin-top: 30px;
}

.price-main-setting ul {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.price-main-setting ul li {
    color: #aaaaaa;
    font-size: 12px;

    position: relative;

    left: 4px;
}

.price-main-setting ul li::before {
    content: "";
    width: 1px;
    height: 5px;
    background-color: rgb(204, 204, 204);
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
}

.filter-reset {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 71px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    border-top: 1px solid rgb(238, 238, 238);
}

.filter-reset button {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);

    width: 96px;
    height: 40px;

    font-size: 13px;
    color: #222222;
}

.maintain-price .option-detail-box2{
    border-top: none;
}

.maintain-price .price-main-setting {
    padding: 0px;
}

.maintain-price h1 {
    font-size: 18px;
    font-weight: 400;

    width: 348px;
    height: 27px;

    margin-bottom: 23px;

    color: #222222;
}



.access-day-container {
    width: 298px;
    height: 296px;
}

.right-position {
    right: 0px;
}

.add-filter-line {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: calc(963px);
    height: 522px;
    padding: 0px;

    position: absolute;
    top: calc(100% + 5px);
    right: -150px;

    overflow: auto;
}

.filter-top-line {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 960px;
    height: 283px;
}

.add-filter-top {
    padding: 30px 0px 45px 30px;
    border-right: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);

    width: 240px;
    height: 284px;
}

.add-filter-top:last-child {
    border-right: none;
}

.label-setting {
    width: 80px;
    height: 22px;

    margin-top: 12px;
}

.filter-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}

.filter-text h1 {
    font-size: 18px;
}

.filter-text span {
    font-size: 13px;
    color: rgb(134, 134, 134);
    margin-left: 8px;
}


.label-setting p {
    color: rgb(76, 76, 76);
    font-size: 15px;
    font-weight: 400;
    padding-left: 8px;

    white-space: nowrap;

    cursor: pointer;
}

.detail-lable-line {
    width: 210px;
    height: 170px;

    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
}

.off-color {
    color: #4c4c4c;
    opacity: 0.3;

    cursor: default;
}

/* .option-detail-container::-webkit-scrollbar {
    width: 6px;
}

.option-detail-container::-webkit-scrollbar-thumb {
    height: 30%;
    background: transparent #000;
    border-radius: 7px;
    opacity: 0.5;
}

.option-detail-container::-webkit-scrollbar-track {
    background: #ffffff;
} */

.add-filter-bottom {
    display: flex;
    justify-content: flex-start;

    width: 960px;
    height: 234px;

}

.filter-bottom-left {
    padding: 30px 0px 45px 30px;
    border-right: 1px solid rgb(231, 231, 231);

    width: 240px;
}

.filter-bottom-right {
    padding: 30px 0px 45px 30px;
    width: 720px;
}

.filter-bottom-right .filter-text {
    height: 29px;
}

.label-box-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    margin-top: 2px;
    margin-left: -8px;

    width: 696px;
    height: 92px;
}

.label-box-line .filter-label {
    width: 116px;
    height: 38px;
    margin-top: 8px;
    margin-left: 8px;
    position: relative;
}

.filter-label > input[type=checkbox] {
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px
}

.label-box-line .filter-label p {
    width: 100%;
    height: 100%;

    padding: 0px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #656565;
    font-weight: 400;

    background-color: #ffffff;
}

.filter-explain {
    width: 100%;
    height: 20px;

    margin-top: 17px;
}

.filter-explain p {
    line-height: 20px;
    height: 20px;
    padding-left: 26px;
    font-size: 13px;
    font-weight: 400;
    color: #868686;
    background-repeat: no-repeat;
    background-image: url(/static/images/notice_icon.svg);
}

.filters-setting-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 63px;

    margin-right: 15px;
}

.filters-setting-box button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    outline: none;

    width: 36px;
    height: 36px;
}

.filters-setting-box button:nth-child(1) {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.filters-setting-box button:nth-child(2) {
    margin-left: 8px;
}

.filters-setting-box svg {
    width: 22px;
    height: 22px;
}

.map_box {
    display: flex;
    width: 100%;
    height: calc(100% - 149px);
    position: relative;
}

.room-search-list-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    border-right: 1px solid rgb(231, 231, 231);
}

.room-type {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 3px 4px 0px 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.room-type-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;
    border: 0px;

    height: 100%;
    position: relative;
    top: 1px;
}

.room-type button:nth-child(n+2) {
    margin-left: 16px;
}

.room-type-button span {
    color: #222222;
    font-size: 16px;
}

.selected-style {
    border-bottom: 2px solid rgb(50, 108, 249);
    font-weight: 700;
}

.room-type strong {
    margin-left: 8px;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 20px;
    color: rgb(50, 108, 249);
    background-color: rgb(238, 248, 255);
}

.room-search-list {
    width: 400px;
    height: 100%;
>>>>>>> 6a628feb265ad13ff7da7284ac78200a7df996e0
}