<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부동산 필수 앱 다방</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    <div class="content">
        <header>
            <nav class="header-box-line">
                <div class="home-logo-link">
                    <a href="/index"><img class="site-logo" src="/static/images/home_logo.PNG"></a>
                </div>
                <div class="right-header-line">
                    <a href="/search/map" class="menu-item">지도</a>
                    <a href="/sales" class="menu-item">분양</a>
                    <a href="/favorite/recent-room" class="menu-item">관심목록</a>
                    <a href="/manage" class="menu-item">방내놓기</a>
                    <a href="/alarm" class="menu-item">알림</a>
                    <a href="" class="menu-item">My 비대면 계약</a>
                    <div class="auth-items">
                        <div size="32" class="Profile">
                            <img src="/static/images/profile.svg" draggable="false">
                            <div class="user-option">
                                <p>불타는곰돌이 님</p>
                                <div class="user-option-box hidden">
                                    <nav class="hidden">
                                        <a href="" class="user-service-nav">문자문의</a>
                                        <a href="" class="user-service-nav">전화문의</a>
                                        <a href="/inquery" class="user-service-nav">1:1 문의내역</a>
                                        <a href="" class="user-service-nav">허위매물 신고내역</a>
                                        <a href="/account" class="user-service-nav">내 정보</a>
                                        <button class="logout-button user-service-nav">
                                            로그아웃
                                            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M 9.00067 9.39777 V 14 H 0.997552 V 1 H 9.00067 V 5.3515 H 10 V 0 H 0 V 15 H 10 V 9.39777 H 9.00067 Z M 12 4.70711 L 12.7071 4 L 16.1074 7.40031 L 12.716 10.7917 L 12.0089 10.0846 L 14.0935 8 H 5 V 7 H 14.2929 L 12 4.70711 Z" fill="#656565"></path>
                                            </svg>
                                        </button>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="header-box">
            <div>
                <h1>어떤 방을 찾으세요?</h1>
                <div class="wap-Tab">
                    <p class="wap-Tab-Btn1">
                        매물
                        <!-- ::after -->
                    </p>
                    <p class="wap-Tab-Btn2">분양</p>
                </div>
            </div>
            <form>
                <label class="wap-input">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M0 0H24V24H0z"></path>
                            <g stroke="#222" stroke-width="2" transform="translate(2 2)">
                                <circle cx="8" cy="8" r="8"></circle>
                                <path stroke-linecap="round" d="M15 14L19.95 18.95"></path>
                            </g>
                        </g>
                    </svg>
                    <input placeholder="지역 또는 단지명을 입력하세요">
                </label>
            </form>
        </div>
    </div>
    <script src="/static/js/index.js"></script></body>
    <script src="/static/js/header.js"></script>

</html>