<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

</head>
<title>Inquery</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inquery</title>
 <link rel="stylesheet" href="/static/css/header.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/inquery.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<body>
	<th:block th:replace="/fragments/header"></th:block>
	<div class="wrapping">
		<nav class="Header">
			<div>
				<h1 class="Title">MY 다방</h1>
				<div class="MenuBar">
					<a href="/user/sms">문자문의</a> <a href="/user/call">전화문의</a> <a
						href="/inquery" class="react-color"><span>1:1 문의내역</span></a> <a
						href="/user/report">허위매물 신고내역</a> <a href="/account"><span>내
							정보</span></a>
				</div>
			</div>
		</nav>
		<div class="Content">
			<table>
				<div>
					<tr class="flex-box">
						<td class="ContentScript">
							<p>최근 6개월 이내의 문의 내역을 확인하실 수 있습니다. (2021년 3월 이전에 문의하신 내용은 이메일로
								답변을 발송하여 본 페이지에서 내역 확인이 불가합니다.)</p>
							<p>문의하신 내용에 대한 수정 및 삭제는 답변 등록 이전에 가능합니다.</p>
							<p>고객센터 답변 가능 시간 : 평일 10:00~18:30 (토, 일요일, 공휴일 휴무)</p>
						</td>
						<td class="ContentBody">
							<button class="Inquery">
								<span>1:1문의하기</span>
							</button>
						</td>
					</tr>

					<tr>
						<td class="ContentScript2">최근 6개월 간 문의하신 내역이 없습니다.</td>
					</tr>
				</div>
			</table>
		</div>
	</div>
	<script src="/static/js/board/inquery.js"></script>
</body>
</html>